html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f5f6;
}

.container {

    background-color: #ddd;
    margin: 15px;
    border-radius: 5px;
    max-width: 1200px;
    padding: 15px;
}

header,
footer {
    display: flex;
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box;

}

.common {
    cursor: pointer;
    flex-basis: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5500+0,ff9500+100 */
    background: rgb(255, 85, 0);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 85, 0, 1) 0%, rgba(255, 149, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 85, 0, 1) 0%, rgba(255, 149, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 85, 0, 1) 0%, rgba(255, 149, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5500', endColorstr='#ff9500', GradientType=1);
    /* IE6-9 */

}

.inbox {
    cursor: pointer;
    flex-basis: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01842d+0,40d04d+100,2989d8+100,ff9500+100 */
    background: rgb(1, 132, 45);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01842d', endColorstr='#ff9500', GradientType=1);
    /* IE6-9 */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio {
    cursor: pointer;
    flex-basis: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01842d+0,40d04d+100,2989d8+100,ff9500+100 */
    background: rgb(1, 132, 45);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01842d', endColorstr='#ff9500', GradientType=1);
    /* IE6-9 */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section,
aside {

    background-color: #fff;
    overflow: scroll;

    padding: 20px;
    height: 400px;
}

main {
    display: flex;
}

.chat {

    flex-basis: 75%;
    margin-left: auto;
    color: rgb(5, 5, 5);
}

.chatsettings {

    margin-right: auto;
}

.left-header {
    padding: 0;
    margin: 0;
    display: flex;
    color: #fff;


}

.right-header {
    cursor: pointer;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01842d+0,40d04d+100,2989d8+100,ff9500+100 */
    background: rgb(1, 132, 45);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(1, 132, 45, 1) 0%, rgba(64, 208, 77, 1) 100%, rgba(41, 137, 216, 1) 100%, rgba(255, 149, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01842d', endColorstr='#ff9500', GradientType=1);
    /* IE6-9 */



}

i {
    margin-right: 15px;
}

.friends {

    margin-left: auto;
}


.form {
    display: flex;
}


   
a {
    
    position: relative;
    display: block;
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#740448+0,fc7232+100 */
    background: rgb(116, 4, 72);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(116, 4, 72, 1) 0%, rgba(252, 114, 50, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(116, 4, 72, 1) 0%, rgba(252, 114, 50, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(116, 4, 72, 1) 0%, rgba(252, 114, 50, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#740448', endColorstr='#fc7232', GradientType=1);
    /* IE6-9 */
    
}
.new-select-style select {
    border-radius: 5px;
    background: transparent;
    height: 38px;
    padding: 5px;
    margin-left: 60px ;
    border: 1px;
    font-size: 16px;
    line-height: 1;
    width: auto;
}

a:hover {
    background-position: right center;
}

.status {
    display: flex;
    margin: auto;


}